# Cleaning
---
1. Duplicates dropping.

2. Categorical cleaning.

3. Outliers handling.

4. Feature extraction

5. Column Redundancy handling.

6. Data types handling.

7. Saving our cleaned data
---
### **Before cleaning:** (4801, 17)
### **After cleaning:** (3958, 9)
---

In [46]:
import pandas as pd
import numpy as np

In [47]:
df = pd.read_csv(r"../data/raw/NY-House-Dataset.csv")
df_copy = df.copy()

#### Duplicates

In [48]:
df_copy.duplicated().sum()

214

In [49]:
df_copy.drop_duplicates(inplace=True)

In [50]:
df_copy.duplicated().sum()

0

#### Categorical Cleaning

In [51]:
df_copy.select_dtypes(include=['object']).nunique()

BROKERTITLE                    1036
TYPE                             13
ADDRESS                        4582
STATE                           308
MAIN_ADDRESS                   4583
ADMINISTRATIVE_AREA_LEVEL_2      29
LOCALITY                         11
SUBLOCALITY                      21
STREET_NAME                     174
LONG_NAME                      2731
FORMATTED_ADDRESS              4550
dtype: int64

In [52]:
df_copy["TYPE"].value_counts()

TYPE
Co-op for sale                1388
House for sale                 966
Condo for sale                 842
Multi-family home for sale     699
Townhouse for sale             288
Pending                        229
Contingent                      87
Land for sale                   47
For sale                        20
Foreclosure                     14
Condop for sale                  4
Coming Soon                      2
Mobile house for sale            1
Name: count, dtype: int64

In [53]:
df_copy['TYPE'] = df_copy['TYPE'].str.strip()

type_mapping = {
    'Condop for sale': 'Condop',
    'House for sale': 'House',
    'Condo for sale': 'Condo',
    'Co-op for sale': 'Co-op',
    'Townhouse for sale': 'Townhouse',
    'Multi-family home for sale': 'Multi-family home',
    "Land for sale": "Land"
}

df_copy['TYPE'] = df_copy['TYPE'].replace(type_mapping)

status_types = ["Foreclosure", "For sale", "Pending", "Contingent", "Coming Soon"]
df_copy = df_copy[~df_copy['TYPE'].isin(status_types)]

In [54]:
df_copy.shape

(4235, 17)

In [55]:
df_copy["STATE"].value_counts()

STATE
Brooklyn, NY 11235         96
Brooklyn, NY 11234         84
Forest Hills, NY 11375     84
Brooklyn, NY 11209         84
Staten Island, NY 10314    70
                           ..
Manhattan, NY 10006         1
New York, NY 10309          1
Hollis, NY 11432            1
Flushing, NY 11357          1
Ozone Park, NY 11416        1
Name: count, Length: 300, dtype: int64

In [56]:
mapping = {
    'Flatbush': 'Brooklyn',
    'Kings County': 'Brooklyn',
    'New York County': 'Manhattan',
    'New York': 'Manhattan',
    'Queens County': 'Queens',
    'Bronx County': 'Bronx',
    'The Bronx': 'Bronx',
    'Richmond County': 'Staten Island'
}

df_copy['LOCALITY'] = df_copy['LOCALITY'].replace(mapping)

In [57]:
df_copy.LOCALITY.value_counts()

LOCALITY
Manhattan        3048
Queens            521
Brooklyn          414
Bronx             171
Staten Island      46
United States      35
Name: count, dtype: int64

In [58]:
df_copy[df_copy["LOCALITY"] == "United States"]

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
27,Brokered by Century 21 Realty First,Multi-family home,2250000,12,2.373861,5670.000000,2361 81st St,"Brooklyn, NY 11214","2361 81st StBrooklyn, NY 11214",11214,United States,New York,Kings County,81st Street,"2361 81st St, Brooklyn, NY 11214, USA",40.602654,-73.986940
58,Brokered by American Homes Group,House,998800,3,4.000000,2400.000000,Waldron Ave,"Staten Island, NY 10301","Waldron AveStaten Island, NY 10301",10301,United States,New York,Richmond County,Mid Island,"Waldron Ave, Staten Island, NY 10301, USA",40.618648,-74.101908
228,Brokered by Staten Island Premiere Properties,House,829888,4,2.373861,1800.000000,70 Savo Loop,"Staten Island, NY 10309","70 Savo LoopStaten Island, NY 10309",10309,United States,New York,Richmond County,Savo Loop,"70 Savo Loop, Staten Island, NY 10309, USA",40.521278,-74.223035
301,Brokered by Coldwell Banker American Homes,Multi-family home,599000,4,3.000000,1176.000000,3100 Richmond Ter,"Staten Island, NY 10303","3100 Richmond TerStaten Island, NY 10303",10303,United States,New York,Richmond County,Richmond Terrace,"3100 Richmond Terrace, Staten Island, NY 10303...",40.638069,-74.162775
366,Brokered by Nella Management Llc,House,300000,3,1.000000,952.000000,5423 Avenue M,"Brooklyn, NY 11234","5423 Avenue MBrooklyn, NY 11234",11234,United States,New York,Kings County,Avenue R,"5423 Avenue R, Brooklyn, NY 11234, USA",40.616292,-73.929914
416,Brokered by Sovereign Realty Of Ny Inc,Land,199000,3,2.373861,2184.207862,164th Dr,"Howard Beach, NY 11414","164th DrHoward Beach, NY 11414",11414,United States,New York,Queens County,Old Howard Beach,"164th Dr, Queens, NY 11414, USA",40.651154,-73.828415
641,Brokered by M Holmes Realty Corp.,Multi-family home,499000,3,2.000000,1445.000000,32 Barker St,"Staten Island, NY 10310","32 Barker StStaten Island, NY 10310",10310,United States,New York,Richmond County,Barker Street,"32 Barker St, Staten Island, NY 10310, USA",40.636532,-74.121862
688,"Brokered by CLAS - Classic Marketing, LLC",Condo,2795000,2,2.000000,965.000000,25 Fifth Ave Unit 5B,"New York, NY 10003","25 Fifth Ave Unit 5BNew York, NY 10003",10003,United States,New York,New York County,Manhattan,"5th Ave, New York, NY 10003, USA",40.735321,-73.994131
692,Brokered by Douglas Elliman - 575 Madison Ave,Multi-family home,1590000,5,6.000000,2184.207862,149-43 Hawtree St,"Queens, NY 11417","149-43 Hawtree StQueens, NY 11417",11417,United States,New York,Queens County,Ozone Park,"Hawtree St, Queens, NY 11417, USA",40.672995,-73.837319
749,"Brokered by Robert DeFalco Realty, Inc.",House,6800000,7,2.373861,5130.000000,131 Cliffwood Ave,"Staten Island, NY 10304","131 Cliffwood AveStaten Island, NY 10304",10304,United States,New York,Richmond County,Cliffwood Avenue,"131 Cliffwood Ave, Staten Island, NY 10304, USA",40.595617,-74.114456
955,Brokered by RE MAX Edge,House,799000,5,4.000000,1802.000000,8648 26th Ave,"Brooklyn, NY 11214","8648 26th AveBrooklyn, NY 11214",11214,United States,New York,Kings County,26th Avenue,"8648 26th Ave, Brooklyn, NY 11214, USA",40.595748,-73.986220
1053,Brokered by EXIT REALTY GROUP,Co-op,369000,1,1.000000,900.000000,2400 Johnson Ave Apt 9C,"Bronx, NY 10463","2400 Johnson Ave Apt 9CBronx, NY 10463",10463,United States,New York,The Bronx,2400,"2400 Johnson Ave #9c, Bronx, NY 10463, USA",40.876398,-73.918469
1174,Brokered by RE MAX Edge,House,758000,3,1.000000,1200.000000,86 Bay 46th St,"Brooklyn, NY 11214","86 Bay 46th StBrooklyn, NY 11214",11214,United States,New York,Kings County,Bay 46th Street,"86 Bay 46th St, Brooklyn, NY 11214, USA",40.590879,-73.986596
1331,Brokered by TUDO - Tudor Realty Services,Co-op,299000,3,1.000000,2184.207862,5 Tudor City Pl Apt 1426,"New York, NY 10017","5 Tudor City Pl Apt 1426New York, NY 10017",10017,United States,New York,New York County,Manhattan,"Tudor City, New York, NY 10017, USA",40.748849,-73.971616
1562,Brokered by Corcoran West Side,Co-op,445000,1,1.000000,2184.207862,25 Tudor City Pl Apt 419,"New York, NY 10017","25 Tudor City Pl Apt 419New York, NY 10017",10017,United States,New York,New York County,Manhattan,"Tudor City, New York, NY 10017, USA",40.748849,-73.971616
2183,Brokered by Douglas Elliman - 140 Franklin,Co-op,640000,2,1.000000,2184.207862,85 First Ave Unit 7B,"New York, NY 10003","85 First Ave Unit 7BNew York, NY 10003",10003,United States,New York,New York County,Manhattan,"1st Ave., New York, NY 10003, USA",40.730124,-73.983442
2185,Brokered by Douglas Elliman - 3544 Johnson Ave,Co-op,250000,1,2.000000,740.000000,6300 Riverdale Ave Apt 5K,"Bronx, NY 10471","6300 Riverdale Ave Apt 5KBronx, NY 10471",10471,United States,New York,The Bronx,6300,"6300 Riverdale Ave #5k, Bronx, NY 10471, USA",40.912729,-73.902225
2445,Brokered by Winzone Realty Inc,House,849000,3,3.000000,2184.207862,2762 Cropsey Ave,"Brooklyn, NY 11214","2762 Cropsey AveBrooklyn, NY 11214",11214,United States,New York,Kings County,Cropsey Avenue,"2762 Cropsey Ave, Brooklyn, NY 11214, USA",40.586812,-73.989029
2961,Brokered by EXIT REALTY TOP PROPERTIES,Multi-family home,938000,5,3.000000,1890.000000,1838 Brown St,"Brooklyn, NY 11229","1838 Brown StBrooklyn, NY 11229",11229,United States,New York,Kings County,Brown Street,"1838 Brown St, Brooklyn, NY 11229, USA",40.606567,-73.941344
2985,Brokered by RE MAX Edge,Multi-family home,1590000,7,4.000000,1739.000000,144 Bay 50th St,"Brooklyn, NY 11214","144 Bay 50th StBrooklyn, NY 11214",11214,United States,New York,Kings County,Bay 50th Street,"144 Bay 50th St, Brooklyn, NY 11214, USA",40.585977,-73.986963
3154,Brokered by King Zone Realty Inc,House,880000,2,2.000000,1120.000000,1808 Avenue Y,"Brooklyn, NY 11235","1808 Avenue YBrooklyn, NY 11235",11229,United States,New York,Kings County,Avenue P,"1808 Avenue P, Brooklyn, NY 11229, USA",40.610488,-73.955347
3400,Brokered by Master Associates Inc.,House,1299800,4,4.000000,2600.000000,41 Milburn St,"Staten Island, NY 10306","41 Milburn StStaten Island, NY 10306",10306,United States,New York,Richmond County,Milburn Street,"41 Milburn St, Staten Island, NY 10306, USA",40.577482,-74.126223
3574,Brokered by Momentum Real Estate Llc,House,1288000,3,2.000000,1538.000000,2421 82nd St,"Brooklyn, NY 11214","2421 82nd StBrooklyn, NY 11214",11214,United States,New York,Kings County,82nd Street,"2421 82nd St, Brooklyn, NY 11214, USA",40.601321,-73.986412
3739,Brokered by Elite Home Sales Inc,House,1248000,4,2.000000,2450.000000,3007 Avenue S,"Brooklyn, NY 11229","3007 Avenue SBrooklyn, NY 11229",11229,United States,New York,Kings County,Avenue S,"3007 Ave. S, Brooklyn, NY 11229, USA",40.605613,-73.939675
3917,Brokered by RE MAX Elite,Multi-family home,995000,6,3.000000,2125.000000,52 28th Ave,"Brooklyn, NY 11214","52 28th AveBrooklyn, NY 11214",11214,United States,New York,Kings County,28th Avenue,"52 28th Ave, Brooklyn, NY 11214, USA",40.589507,-73.985517
3921,"Brokered by Neuhaus Realty, Inc.",House,2800000,2,1.000000,1800.000000,98A-98G Discala Ln,"Staten Island, NY 10312","98A-98G Discala LnStaten Island, NY 10312",10312,United States,New York,Richmond County,Southeast Annadale,"Discala Ln, Staten Island, NY 10312, USA",40.524072,-74.171050
4003,Brokered by Prestige Homes Ny Inc,Land,75000,3,2.373861,2184.207862,199th St,"Saint Albans, NY 11412","199th StSaint Albans, NY 11412",11412,United States,New York,Queens County,Jamaica,"199th St, Jamaica, NY 11412, USA",40.694216,-73.753090
4071,Brokered by Joyce Realty,Co-op,329000,2,1.000000,850.000000,33 Alden Park Unit 33,"Bronx, NY 10465","33 Alden Park Unit 33Bronx, NY 10465",10465,United States,New York,Bronx County,East Bronx,"Alden Park, Bronx, NY 10465, USA",40.822362,-73.807250
4258,Brokered by Brown Harris Stevens- 3531 Johnson...,Co-op,250000,1,1.000000,800.000000,6300 Riverdale Ave Apt 6C,"Bronx, NY 10471","6300 Riverdale Ave Apt 6CBronx, NY 10471",10471,United States,New York,The Bronx,6300,"6300 Riverdale Ave #6c, Bronx, NY 10471, USA",40.912729,-73.902225
4505,Brokered by Elegran Real Estate And Development,Condo,5750000,3,3.000000,3700.000000,259 Bowery Units 3 & 4,"New York, NY 10002","259 Bowery Units 3 & 4New York, NY 10002",10002,United States,New York,New York County,Manhattan,"E Houston St, New York, NY 10002, USA",40.723152,-73.992722
4592,Brokered by Expert Homes Ny,Multi-family home,689000,4,2.000000,2184.207862,Paulding Ave and E 228th St,"Bronx, NY 10466","Paulding Ave and E 228th StBronx, NY 10466",10466,United States,New York,Bronx County,East Bronx,"E 228th St & Paulding Ave, Bronx, NY 10466, USA",40.887171,-73.850675
4666,Brokered by Oxford Property Group,Multi-family home,2200000,6,4.000000,3240.000000,422 Jefferson St,"Brooklyn, NY 11237","422 Jefferson StBrooklyn, NY 11237",11237,United States,New York,Kings County,Jefferson Street,"422 Jefferson St, Brooklyn, NY 11237, USA",40.707052,-73.923254
4689,Brokered by Corcoran Williamsburg Bedford,Multi-family home,2499000,12,6.000000,2184.207862,755 Coney Island Ave,"Brooklyn, NY 11218","755 Coney Island AveBrooklyn, NY 11218",11218,United States,New York,Kings County,Coney Island Avenue,"755 Coney Island Ave, Brooklyn, NY 11218, USA",40.638990,-73.968352
4755,Brokered by BH Realty Group - Manhattan - Head...,Co-op,500000,1,1.000000,2184.207862,100 Suffolk St Unit 1DD,"New York, NY 10002","100 Suffolk St Unit 1DDNew York, NY 10002",10002,United States,New York,New York County,Manhattan,"Suffolk St, New York, NY 10002, USA",40.717924,-73.986647
4778,Brokered by STROFFOLINO REALTY LLC,Multi-family home,2300000,3,3.000000,2355.000000,2502 84th St,"Brooklyn, NY 11214","2502 84th StBrooklyn, NY 11214",11214,United States,New York,Kings County,84th Street,"2502 84th St, Brooklyn, NY 11214, USA",40.598830,-73.985964

In [59]:
df_copy['STATE'] = df_copy['STATE'].str.strip()

mask = df_copy['LOCALITY'] == 'United States'
df_copy.loc[mask, 'LOCALITY'] = df_copy.loc[mask, 'STATE'].str.split(',').str[0]
mapping = {
    'Howard Beach': 'Queens',
    'Saint Albans': 'Queens',
    'New York': 'Manhattan'
}
df_copy['LOCALITY'] = df_copy['LOCALITY'].replace(mapping)


df_copy['LOCALITY'].value_counts()

LOCALITY
Manhattan        3054
Queens            524
Brooklyn          428
Bronx             176
Staten Island      53
Name: count, dtype: int64

In [60]:
df_copy["SUBLOCALITY"].value_counts()

SUBLOCALITY
New York            904
Kings County        641
Queens County       605
Queens              513
Brooklyn            407
Richmond County     370
Bronx County        284
New York County     258
The Bronx           169
Staten Island        46
Manhattan            21
Flushing              4
Coney Island          3
Riverdale             3
East Bronx            1
Brooklyn Heights      1
Jackson Heights       1
Rego Park             1
Fort Hamilton         1
Dumbo                 1
Snyder Avenue         1
Name: count, dtype: int64

In [61]:
df_copy["LONG_NAME"].value_counts()

LONG_NAME
200                  18
2                    17
100                  16
50                   15
40                   14
                     ..
West 144th Street     1
37th Road             1
West 28th Street      1
Zerega Avenue         1
2351                  1
Name: count, Length: 2577, dtype: int64

#### Outliers

In [62]:
for column in df_copy.select_dtypes(include=np.number).columns:

    Q1 = df_copy[column].quantile(0.25)
    Q3 = df_copy[column].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    ouliers_mask = (df_copy[column] < lower_bound) | (df_copy[column] > upper_bound)

    print(f"Column: {column}, Outliers: {ouliers_mask.sum()}")

Column: PRICE, Outliers: 489
Column: BEDS, Outliers: 209
Column: BATH, Outliers: 104
Column: PROPERTYSQFT, Outliers: 351
Column: LATITUDE, Outliers: 0
Column: LONGITUDE, Outliers: 132

In [63]:
df_copy.LONGITUDE.describe()
# It seems that there are all valid longitude values
# No outliers detected

count    4235.000000
mean      -73.937999
std         0.098287
min       -74.253033
25%       -73.984988
50%       -73.947266
75%       -73.867658
max       -73.702450
Name: LONGITUDE, dtype: float64

In [64]:
df_copy.BATH.astype(str).value_counts()
# 2.3738608579684373 must be the mean value imputed previously

BATH
2.0                   1453
1.0                   1355
3.0                    420
4.0                    419
2.3738608579684373     265
6.0                    128
5.0                     90
8.0                     43
7.0                     21
10.0                    15
9.0                      6
16.0                     5
20.0                     3
12.0                     3
11.0                     2
24.0                     1
0.0                      1
43.0                     1
32.0                     1
50.0                     1
13.0                     1
17.0                     1
Name: count, dtype: int64

In [65]:
df_copy = df_copy[(df_copy['BATH'] != 2.3738608579684373) & (df_copy['BATH'] != 0)]

In [66]:
df_copy.PROPERTYSQFT.astype(str).value_counts()
# 2184.207862 must be the mean value imputed previously
# This is a disaster, about 1300 entries have this value

PROPERTYSQFT
2184.207862    1324
800.0            51
750.0            48
900.0            47
1200.0           40
               ...
2324.0            1
5103.0            1
1541.0            1
2042.0            1
655.0             1
Name: count, Length: 1293, dtype: int64

In [67]:
df_copy["PROPERTYSQFT"] = df_copy["PROPERTYSQFT"].replace(2184.207862, np.nan)

In [68]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3969 entries, 0 to 4800
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   BROKERTITLE                  3969 non-null   object
 1   TYPE                         3969 non-null   object
 2   PRICE                        3969 non-null   int64
 3   BEDS                         3969 non-null   int64
 4   BATH                         3969 non-null   float64
 5   PROPERTYSQFT                 2645 non-null   float64
 6   ADDRESS                      3969 non-null   object
 7   STATE                        3969 non-null   object
 8   MAIN_ADDRESS                 3969 non-null   object
 9   ADMINISTRATIVE_AREA_LEVEL_2  3969 non-null   object
 10  LOCALITY                     3969 non-null   object
 11  SUBLOCALITY                  3969 non-null   object
 12  STREET_NAME                  3969 non-null   object
 13  LONG_NAME                    3969 non-null   object
 14  FORMATTED_ADDRESS            3969 non-null   object
 15  LATITUDE                     3969 non-null   float64
 16  LONGITUDE                    3969 non-null   float64
dtypes: float64(4), int64(2), object(11)
memory usage: 558.1+ KB

In [69]:
df_copy["PROPERTYSQFT"] = df_copy["PROPERTYSQFT"].fillna(
    df_copy.groupby(["LOCALITY", "TYPE"])["PROPERTYSQFT"].transform("mean").apply(np.ceil)
)

In [70]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3969 entries, 0 to 4800
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   BROKERTITLE                  3969 non-null   object
 1   TYPE                         3969 non-null   object
 2   PRICE                        3969 non-null   int64
 3   BEDS                         3969 non-null   int64
 4   BATH                         3969 non-null   float64
 5   PROPERTYSQFT                 3963 non-null   float64
 6   ADDRESS                      3969 non-null   object
 7   STATE                        3969 non-null   object
 8   MAIN_ADDRESS                 3969 non-null   object
 9   ADMINISTRATIVE_AREA_LEVEL_2  3969 non-null   object
 10  LOCALITY                     3969 non-null   object
 11  SUBLOCALITY                  3969 non-null   object
 12  STREET_NAME                  3969 non-null   object
 13  LONG_NAME                    3969 non-null   object
 14  FORMATTED_ADDRESS            3969 non-null   object
 15  LATITUDE                     3969 non-null   float64
 16  LONGITUDE                    3969 non-null   float64
dtypes: float64(4), int64(2), object(11)
memory usage: 558.1+ KB

In [71]:
df_copy.PROPERTYSQFT.astype(str).value_counts()
# I think it's better now.

PROPERTYSQFT
1440.0    425
964.0     225
2230.0    225
3262.0    221
4087.0     52
         ...
2042.0      1
2205.0      1
1810.0      1
1530.0      1
655.0       1
Name: count, Length: 1299, dtype: int64

In [72]:
df_copy.BEDS.astype(str).value_counts()

BEDS
3     1128
2      879
1      725
4      467
5      277
6      215
7       83
8       67
9       34
10      20
11      19
12      19
14       6
15       5
13       5
16       4
20       3
24       3
32       2
35       1
50       1
36       1
42       1
40       1
30       1
19       1
18       1
Name: count, dtype: int64

In [73]:
df_copy[df_copy["BEDS"] > 15]
# 15+ beds is unlikely, but it belongs to a single entry of type "Multi-family home"

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
733,Brokered by Legacy Estate Realty,Multi-family home,1195000,16,8.0,3262.0,453 42nd St,"Brooklyn, NY 11232","453 42nd StBrooklyn, NY 11232",United States,Manhattan,Kings County,Brooklyn,42nd Street,"453 42nd St, Brooklyn, NY 11232, USA",40.650219,-74.006356
750,Brokered by Corcoran West Side,Multi-family home,7999000,20,10.0,3262.0,414 Riverside Dr,"New York, NY 10025","414 Riverside DrNew York, NY 10025",United States,Manhattan,New York County,New York,Riverside Drive,"414 Riverside Dr, New York, NY 10025, USA",40.807170,-73.966818
765,Brokered by RE MAX Edge,Multi-family home,4380000,35,16.0,15000.0,8699 Bay Pkwy Unit 16,"Brooklyn, NY 11214","8699 Bay Pkwy Unit 16Brooklyn, NY 11214",United States,Manhattan,Kings County,Brooklyn,8699,"8699 Bay Pkwy #16, Brooklyn, NY 11214, USA",40.599715,-73.995694
936,Brokered by EXIT REALTY TOP PROPERTIES,Multi-family home,2800000,16,16.0,10720.0,1570 66th St,"Brooklyn, NY 11219","1570 66th StBrooklyn, NY 11219",United States,Manhattan,Kings County,Brooklyn,66th Street,"1570 66th St, Brooklyn, NY 11219, USA",40.621516,-73.996157
1092,Brokered by CHRISTIE'S INT.REAL ESTATE GROUP,House,3500000,24,8.0,9500.0,29 Hampton Pl,"Brooklyn, NY 11213","29 Hampton PlBrooklyn, NY 11213",United States,Manhattan,Kings County,Brooklyn,Hampton Place,"29 Hampton Pl, Brooklyn, NY 11213, USA",40.671795,-73.940735
1143,Brokered by Blue Key Real Estate Brokerage,Multi-family home,11000000,50,50.0,22035.0,8820 Avenue J,"Brooklyn, NY 11236","8820 Avenue JBrooklyn, NY 11236",United States,Manhattan,Kings County,Brooklyn,Avenue J,"8820 Avenue J, Brooklyn, NY 11236, USA",40.637696,-73.904836
1214,Brokered by COMPASS,Multi-family home,6995000,20,20.0,12492.0,76 Irving Pl,"Manhattan, NY 10003","76 Irving PlManhattan, NY 10003",United States,Manhattan,New York County,New York,Irving Place,"76 Irving Pl, New York, NY 10003, USA",40.736804,-73.986479
1410,Brokered by Berkshire Hathaway HomeServices Ca...,Multi-family home,2100000,20,8.0,7200.0,7222 3rd Ave,"Brooklyn, NY 11209","7222 3rd AveBrooklyn, NY 11209",United States,Manhattan,Kings County,Brooklyn,3rd Avenue,"7222 3rd Ave, Brooklyn, NY 11209, USA",40.633021,-74.027419
1945,Brokered by Nareema Baksh Real Estate,Multi-family home,1279000,16,8.0,3550.0,761 Home St,"Bronx, NY 10456","761 Home StBronx, NY 10456",United States,Manhattan,Bronx County,The Bronx,Home Street,"761 Home St, Bronx, NY 10456, USA",40.828268,-73.901473
2265,Brokered by Coldwell Banker Reliable,House,4000000,32,12.0,7188.0,150 E 105th St,"New York, NY 10029","150 E 105th StNew York, NY 10029",United States,Manhattan,New York County,New York,East 105th Street,"150 E 105th St, New York, NY 10029, USA",40.791288,-73.946522
2488,Brokered by RE MAX Real Estate Professionals,Multi-family home,3099000,36,16.0,12460.0,5206 6th Ave,"Brooklyn, NY 11220","5206 6th AveBrooklyn, NY 11220",United States,Manhattan,Kings County,Brooklyn,6th Avenue,"5206 6th Ave, Brooklyn, NY 11220, USA",40.642652,-74.009674
2564,Brokered by Coldwell Banker American Homes,Multi-family home,2700000,24,24.0,18936.0,3520 Newkirk Ave Unit 24,"Brooklyn, NY 11203","3520 Newkirk Ave Unit 24Brooklyn, NY 11203",New York,Brooklyn,Brooklyn,Little Haiti,3520,"3520 Newkirk Ave #24, Brooklyn, NY 11203, USA",40.640181,-73.942939
2653,Brokered by NEUHAUS REALTY INC.,Multi-family home,10700000,42,43.0,27152.0,646-662 Port Richmond Ave,"Staten Island, NY 10302","646-662 Port Richmond AveStaten Island, NY 10302",United States,Manhattan,Richmond County,Staten Island,Port Richmond Avenue,"646 Port Richmond Ave, Staten Island, NY 10302...",40.627671,-74.142352
3276,Brokered by Weichert Realtors TMT Group,Multi-family home,5980000,40,20.0,15500.0,35-54 95th St,"Jackson Heights, NY 11372","35-54 95th StJackson Heights, NY 11372",United States,Manhattan,Queens County,Queens,95th Street,"35-54 95th St, Flushing, NY 11372, USA",40.751468,-73.872619
3589,Brokered by Coldwell Banker Reliable Real Estate,Multi-family home,4000000,32,12.0,7200.0,154 E 105th St,"New York, NY 10029","154 E 105th StNew York, NY 10029",United States,Manhattan,New York County,New York,East 105th Street,"154 E 105th St, New York, NY 10029, USA",40.791206,-73.946512
3603,Brokered by BHHS Fillmore R.E.,Multi-family home,3500000,30,20.0,18400.0,1319 Newkirk Ave,"Brooklyn, NY 11230","1319 Newkirk AveBrooklyn, NY 11230",United States,Manhattan,Kings County,Brooklyn,Newkirk Avenue,"1319 Newkirk Ave, Brooklyn, NY 11230, USA",40.635180,-73.964614
4023,Brokered by EXIT ALL SEASONS REALTY,Multi-family home,2700000,16,8.0,8000.0,59 Newell St,"Brooklyn, NY 11222","59 Newell StBrooklyn, NY 11222",United States,Manhattan,Kings County,Brooklyn,Newel Street,"59 Newel St, Brooklyn, NY 11222, USA",40.724471,-73.947397
4191,"Brokered by BEN BAY REALTY, CO.",Multi-family home,1998000,19,8.0,5890.0,1902 8th Ave,"Brooklyn, NY 11215","1902 8th AveBrooklyn, NY 11215",United States,Manhattan,Kings County,Brooklyn,8th Avenue,"1902 8th Ave, Brooklyn, NY 11215, USA",40.658548,-73.985964
4240,Brokered by Aliano Real Estate,Multi-family home,3000000,24,16.0,12720.0,491 E 45th St Unit 16,"Brooklyn, NY 11203","491 E 45th St Unit 16Brooklyn, NY 11203",New York,Brooklyn,Brooklyn,Little Caribbean,491-493,"491-493 E 45th St #16, Brooklyn, NY 11203, USA",40.649580,-73.934815
4404,Brokered by E Realty International Corp,Multi-family home,2499000,18,12.0,2520.0,116-10 14th Rd,"College Point, NY 11356","116-10 14th RdCollege Point, NY 11356",United States,Manhattan,Queens County,Queens,14th Road,"116-10 14th Rd, Flushing, NY 11356, USA",40.784514,-73.850866

In [74]:
df_copy[df_copy["PRICE"] > 50_000_000]
# Central Park Tower penthouse, it's legit
# 2147483647 price must be an error.

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
1,Brokered by Serhant,Condo,195000000,7,10.0,17545.0,Central Park Tower Penthouse-217 W 57th New Yo...,"New York, NY 10019",Central Park Tower Penthouse-217 W 57th New Yo...,United States,Manhattan,New York County,New York,West 57th Street,"217 W 57th St, New York, NY 10019, USA",40.766393,-73.980991
99,Brokered by Douglas Elliman - 575 Madison Ave,House,55000000,8,8.0,12000.0,25 Riverside Dr,"New York, NY 10023","25 Riverside DrNew York, NY 10023",United States,Manhattan,New York County,New York,Riverside Drive,"25 Riverside Dr, New York, NY 10023, USA",40.782238,-73.984632
141,Brokered by Douglas Elliman - 575 Madison Ave,House,56000000,11,10.0,24000.0,9 W 54th St,"New York, NY 10019","9 W 54th StNew York, NY 10019",United States,Manhattan,New York County,New York,West 54th Street,"9 W 54th St, New York, NY 10019, USA",40.761600,-73.976191
304,Brokered by ANNE LOPA REAL ESTATE,House,2147483647,7,6.0,10000.0,6659-6675 Amboy Rd,"New York, NY 10309","6659-6675 Amboy RdNew York, NY 10309",United States,Manhattan,Richmond County,Staten Island,Amboy Road,"6659 Amboy Rd, Staten Island, NY 10309, USA",40.518484,-74.224418
1075,Brokered by COMPASS,Co-op,60000000,8,8.0,1440.0,960 5th Ave Unit 12,"Manhattan, NY 10075","960 5th Ave Unit 12Manhattan, NY 10075",New York,Manhattan,New York,Manhattan,960,"960 5th Ave #12, New York, NY 10075, USA",40.775642,-73.964247

In [75]:
print("Before cleaning price outliers:", df_copy.shape)
df_copy = df_copy[df_copy["PRICE"] < 2_000_000_000]

df_copy["price_per_sqft"] = df_copy["PRICE"] / df_copy["PROPERTYSQFT"]
df_copy = df_copy[df_copy["price_per_sqft"] < 20000]

df_copy = df_copy[df_copy["PROPERTYSQFT"] > 100]

df_copy.drop(columns=["price_per_sqft"], inplace=True)

print("After cleaning price outliers:", df_copy.shape)

Before cleaning price outliers: (3969, 17)
After cleaning price outliers: (3959, 17)

In [76]:
df_copy[df_copy["PRICE"] > 50_000_000]

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
1,Brokered by Serhant,Condo,195000000,7,10.0,17545.0,Central Park Tower Penthouse-217 W 57th New Yo...,"New York, NY 10019",Central Park Tower Penthouse-217 W 57th New Yo...,United States,Manhattan,New York County,New York,West 57th Street,"217 W 57th St, New York, NY 10019, USA",40.766393,-73.980991
99,Brokered by Douglas Elliman - 575 Madison Ave,House,55000000,8,8.0,12000.0,25 Riverside Dr,"New York, NY 10023","25 Riverside DrNew York, NY 10023",United States,Manhattan,New York County,New York,Riverside Drive,"25 Riverside Dr, New York, NY 10023, USA",40.782238,-73.984632
141,Brokered by Douglas Elliman - 575 Madison Ave,House,56000000,11,10.0,24000.0,9 W 54th St,"New York, NY 10019","9 W 54th StNew York, NY 10019",United States,Manhattan,New York County,New York,West 54th Street,"9 W 54th St, New York, NY 10019, USA",40.761600,-73.976191

In [77]:
df_copy = df_copy[df_copy['LATITUDE'].between(40.4, 41.0)]
df_copy = df_copy[df_copy['LONGITUDE'].between(-74.3, -73.6)]

In [78]:
df_copy["TYPE"].value_counts()
# We have only 1 land type, we can drop it
df_copy = df_copy[df_copy["TYPE"] != "Land"]

In [79]:
# Before cleaning outliers:
# Column: PRICE, Outliers: 489
# Column: BEDS, Outliers: 209
# Column: BATH, Outliers: 104
# Column: PROPERTYSQFT, Outliers: 351
# Column: LATITUDE, Outliers: 0
# Column: LONGITUDE, Outliers: 132
# After cleaning outliers:
for column in df_copy.select_dtypes(include=np.number).columns:

    Q1 = df_copy[column].quantile(0.25)
    Q3 = df_copy[column].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    ouliers_mask = (df_copy[column] < lower_bound) | (df_copy[column] > upper_bound)

    print(f"Column: {column}, Outliers: {ouliers_mask.sum()}")

Column: PRICE, Outliers: 453
Column: BEDS, Outliers: 194
Column: BATH, Outliers: 103
Column: PROPERTYSQFT, Outliers: 217
Column: LATITUDE, Outliers: 0
Column: LONGITUDE, Outliers: 113

#### Feature extraction

In [80]:
df_copy.head()

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
0,Brokered by Douglas Elliman -111 Fifth Ave,Condo,315000,2,2.0,1400.0,2 E 55th St Unit 803,"New York, NY 10022","2 E 55th St Unit 803New York, NY 10022",New York County,Manhattan,Manhattan,East 55th Street,Regis Residence,"Regis Residence, 2 E 55th St #803, New York, N...",40.761255,-73.974483
1,Brokered by Serhant,Condo,195000000,7,10.0,17545.0,Central Park Tower Penthouse-217 W 57th New Yo...,"New York, NY 10019",Central Park Tower Penthouse-217 W 57th New Yo...,United States,Manhattan,New York County,New York,West 57th Street,"217 W 57th St, New York, NY 10019, USA",40.766393,-73.980991
2,Brokered by Sowae Corp,House,260000,4,2.0,2015.0,620 Sinclair Ave,"Staten Island, NY 10312","620 Sinclair AveStaten Island, NY 10312",United States,Manhattan,Richmond County,Staten Island,Sinclair Avenue,"620 Sinclair Ave, Staten Island, NY 10312, USA",40.541805,-74.196109
3,Brokered by COMPASS,Condo,69000,3,1.0,445.0,2 E 55th St Unit 908W33,"Manhattan, NY 10022","2 E 55th St Unit 908W33Manhattan, NY 10022",United States,Manhattan,New York County,New York,East 55th Street,"2 E 55th St, New York, NY 10022, USA",40.761398,-73.974613
5,Brokered by Sowae Corp,House,690000,5,2.0,4004.0,584 Park Pl,"Brooklyn, NY 11238","584 Park PlBrooklyn, NY 11238",United States,Manhattan,Kings County,Brooklyn,Park Place,"584 Park Pl, Brooklyn, NY 11238, USA",40.674363,-73.958725

In [81]:
df_copy["ZIPCODE"] = df_copy["STATE"].str.extract(r'(\d{5})')

In [82]:
def calculate_distance(lat1, lon1, lat2, lon2):
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])
    
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
    c = 2 * np.arcsin(np.sqrt(a))
    
    return 6371 * c

# Timez Square coordinates as the center of New York
TIMES_SQUARE_LAT = 40.7588
TIMES_SQUARE_LON = -73.9851

df_copy['DISTANCE_TO_CENTER'] = df_copy.apply(
    lambda row: calculate_distance(row['LATITUDE'], row['LONGITUDE'], TIMES_SQUARE_LAT, TIMES_SQUARE_LON), 
    axis=1
)

# Wall Street coordinates
WALL_STREET_LAT = 40.7060
WALL_STREET_LON = -74.0088

df_copy['DISTANCE_TO_WALL_STREET'] = df_copy.apply(
    lambda row: calculate_distance(row['LATITUDE'], row['LONGITUDE'], WALL_STREET_LAT, WALL_STREET_LON), 
    axis=1
)

#### Column Redundancy

In [83]:
df_copy.columns

Index(['BROKERTITLE', 'TYPE', 'PRICE', 'BEDS', 'BATH', 'PROPERTYSQFT',
       'ADDRESS', 'STATE', 'MAIN_ADDRESS', 'ADMINISTRATIVE_AREA_LEVEL_2',
       'LOCALITY', 'SUBLOCALITY', 'STREET_NAME', 'LONG_NAME',
       'FORMATTED_ADDRESS', 'LATITUDE', 'LONGITUDE', 'ZIPCODE',
       'DISTANCE_TO_CENTER', 'DISTANCE_TO_WALL_STREET'],
      dtype='object')

In [84]:
df_copy = df_copy.rename(columns=lambda x: x.lower())
df_copy.columns

Index(['brokertitle', 'type', 'price', 'beds', 'bath', 'propertysqft',
       'address', 'state', 'main_address', 'administrative_area_level_2',
       'locality', 'sublocality', 'street_name', 'long_name',
       'formatted_address', 'latitude', 'longitude', 'zipcode',
       'distance_to_center', 'distance_to_wall_street'],
      dtype='object')

In [85]:
df_copy = df_copy[[
       # 'brokertitle',
       'type', 'price', 'beds', 'bath', 'propertysqft',
       # 'address', 'state', 'main_address', 'administrative_area_level_2',
       'locality',
       # 'sublocality', 'street_name', 'long_name',
       # 'formatted_address', 'latitude', 'longitude',
       'zipcode', 'distance_to_center', 'distance_to_wall_street']]

In [86]:
df_copy.shape

(3958, 9)

In [87]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3958 entries, 0 to 4800
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   type                     3958 non-null   object
 1   price                    3958 non-null   int64
 2   beds                     3958 non-null   int64
 3   bath                     3958 non-null   float64
 4   propertysqft             3958 non-null   float64
 5   locality                 3958 non-null   object
 6   zipcode                  3958 non-null   object
 7   distance_to_center       3958 non-null   float64
 8   distance_to_wall_street  3958 non-null   float64
dtypes: float64(4), int64(2), object(3)
memory usage: 309.2+ KB

#### Data types

In [88]:
df_copy.dtypes

type                        object
price                        int64
beds                         int64
bath                       float64
propertysqft               float64
locality                    object
zipcode                     object
distance_to_center         float64
distance_to_wall_street    float64
dtype: object

In [89]:
df_copy.bath = df_copy.bath.astype(int)
df_copy.type = df_copy.type.astype("category")
df_copy.locality = df_copy.locality.astype("category")

#### Saving cleaned data

In [90]:
df_final = df_copy.reset_index(drop=True)
df_final.to_csv(r"../data/cleaned/NY-House-Cleaned-Dataset.csv", index=False)